/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CDHIT_CDHITEST {
        ext.args = '-c 1.0 -n 10 -d 0'
    }

    withName: FILTLONG {
        ext.args = '--target_bases 750000'
    }

    withName: PORECHOP_PORECHOP {
        ext.args = '--discard_middle'
        ext.prefix = { "${meta.id}_trimmed" }  
    }

    withName: BBMAP_SEAL {
        ext.args = { "pattern=${meta.id}_%.fastq.gz" } 
        ext.args2 = 'ambig=all --ignorejunk qin=33'
    }

    withName: SPOA {
        ext.args =  '-l 0 -r 0 -g -2'
    }

    withName: ISONCLUST {
        ext.args =  '--mapped_threshold 1.0 --aligned_threshold 0.7  --k 10 --w 11 --rc_identity_threshold 1.0'
    }

    withName: NANOQ_RAW {
        ext.prefix = { "${meta.id}_raw" }  
    }

    withName: MINIMAP2_ALIGN {
        ext.args = '-x ava-ont'
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withName: RACON {
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withName: MEDAKA {
        ext.prefix = { "${meta.id}_${meta.cluster}" }
    }

    withName: CHOPPER {
        ext.args2  = [
            params.min_quality ? "--quality ${params.min_quality}" : '',
            params.min_length ? "--minlength ${params.min_length}" : '',
            params.max_length ? "--maxlength ${params.max_length}" : '',
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_chopper" }
    }

    withName: BLAST_MAKEBLASTDB {
        ext.args = '-dbtype "nucl"'
    }

    withName: BLAST_BLASTN{
        ext.args= [
            '-outfmt "6 qseqid pident slen qlen length qcovs mismatch gapopen evalue bitscore salltitles"',
            '-max_target_seqs 5',
            '-max_hsps 5',
            '-perc_identity 90'
        ].join(' ').trim()
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
